@use 'style';

.navbar {
    background-color: style.$bg-color;
    padding: 1.125rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    transition: 0.32s ease-in-out;
}

.navbar-brand {
    font-family: style.$logo-font;
    font-size: 1.8rem !important;
    letter-spacing: 0.2rem;
    color: style.$dark-purple !important;
}

.navbar-brand:hover,
.navbar-brand.active {
    color: style.$teal !important;
    -webkit-text-stroke: 0.5px style.$teal;
}

.nav-link,
.nav-social {
    font-family: style.$body-font;
    font-weight: 500 !important;
    font-size: 1.1rem !important;
    letter-spacing: 0.15rem;
    color: style.$dark-purple !important;
    -webkit-text-stroke: 0.5px style.$dark-purple;
}

.nav-link:hover,
.nav-link.active,
.nav-social:hover {
    color: style.$teal !important;
    -webkit-text-stroke: 0.5px style.$teal;
}

.nav-link {
    padding: 0 1rem !important;
}


// Social Links
.navbar-text {
    display: flex;
}

.nav-social {
    font-size: 1.4rem !important;
    padding: 0 0.4rem;
}

.social-icon {
    display: inline-flex;
    margin-left: 14px;
}

.social-icon a {
    transform: scale(1);
    transition: all 0.2s ease-in-out;
}

.social-icon a:hover {
    transform: scale(1.3);
    transition: all 0.2s ease-in-out;
    color: style.$teal !important;
}

// Toggler
.navbar-toggler {
    border: 0 !important;
}

nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
	outline: none;
    box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 3px solid style.$dark-purple;
  transition: all 300ms linear;
  top: -1px;
}

nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 3px;
	background-color: style.$dark-purple;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
	top: 7px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: translateY(7px) rotate(45deg);
	background-color: style.$dark-purple;
	height: 3px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(14px) rotate(-45deg);
	background-color: style.$dark-purple;
	height: 3px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
    transform: translateY(-7px);
}