// Import fonts
@font-face {
    font-family: 'Raleway';
    src: url('https://fonts.googleapis.com/css?family=Raleway');
}

@font-face {
    font-family: 'Neutraface';
    src: url('../assets/fonts/neutraface-demi.otf') format('opentype');
}

@font-face {
    font-family:"mendl-sans-dusk";
    src:url("https://use.typekit.net/af/c13649/00000000000000007735e275/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("woff2"),url("https://use.typekit.net/af/c13649/00000000000000007735e275/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("woff"),url("https://use.typekit.net/af/c13649/00000000000000007735e275/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:800;font-stretch:normal;
    }


// Colors
$bg-color: #F7F5F3;
$dark-purple: #251627;
$teal: #36817E;
$orange: #FF8D5C;
$teal-80-opacity: rgba(54, 129, 126, 0.8);
$orange-60-opacity: rgba(255, 141, 92, 0.6);


// Fonts
$logo-font: 'mendl-sans-dusk', sans-serif;
$body-font: 'Raleway', sans-serif;
$display-font: 'Neutraface', sans-serif;


// Mixins
@mixin title($font-size: 1.6rem) {
    font-family: $body-font;
    font-weight: 900;
    font-size: $font-size !important;
    -webkit-text-stroke: 1.5px $dark-purple;
    color: $dark-purple !important;
    text-shadow: 3px 3px $teal-80-opacity, -3px 4px $orange-60-opacity;
}


// Base Style rules
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
    font-size: 16px;
} 

body {
    font-family: $body-font;
    background-color: $bg-color !important;
    font-size: 1.4rem;
    overflow-x: hidden;
    position: relative;
}

.flex {
    display: flex;
}
